<mat-spinner *ngIf="missionList.length === 0"></mat-spinner>
<h2><i>Total # of Missions: {{ missionList.length }}</i></h2>
<mat-divider></mat-divider>
<mat-card *ngFor="let mission of missionList">
  <mat-card-title-group>
    <mat-card-title>
      <img mat-card-md-image src= "{{ mission.links.mission_patch_small }}"  alt="logo"/><br><br>
      <span class="badge"> {{mission.mission_name}}</span>
    </mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <div mat-line><b>Mission #:</b>  {{mission.flight_number}}</div>
    <div mat-line><b>Launch Year:</b>  {{ mission.launch_year }}</div>
    <div mat-line><b><ins> Launch Success:  {{ mission.launch_success }}</ins></b></div>
    <div mat-line><b>Details:</b> {{ mission.details }}</div><br>
    <button mat-raised-button color="primary" routerLink="/detail/{{mission.flight_number}}" class="button">Mission Details</button>
  </mat-card-content>
  <mat-divider></mat-divider>
</mat-card>