<div *ngIf="mission">

  <h2>{{mission.mission_name | uppercase}} Details</h2>
  <mat-card>
    <img mat-card-image src= "{{ mission.mission_patch_small }}"/>
    <mat-card-header>
      <img mat-card-avatar src= "{{ mission.mission_patch_small }}"  alt="logo"/>
      <mat-card-title> {{ mission.flight_number }} - {{ mission.mission_name }} </mat-card-title>
      <mat-card-subtitle>Launch Year:  {{ mission.launch_year }}</mat-card-subtitle>
      <mat-card-subtitle>Details: {{ mission.details }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-footer>
      <button (click)="goBack()">go back</button>
    </mat-card-footer>
  </mat-card>
</div>


